<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <appSettings>
    <add key="SmsUserID" value="saraswaty"/>
    <add key="SmsPassword" value="qwaszx!@12"/>
    <add key="SmsSenderName" value="SPLBEL"/>
    <add key="GmailUserNameKey" value="ltmsspl17@gmail.com"/>
    <add key="GmailPasswordKey" value="Passw0rd!@12"/>
    <add key="GmailHostKey" value="smtp.gmail.com"/>
    <add key="GmailPortKey" value="587"/>
    <add key="GmailSslKey" value="true"/>
    <add key="QRUrl" value="https://www.wblottery.in/"/>
    <add key="SlabLimit" value="999"/>
    <!--<add key="SlabLimit" value="99999"/>-->
    <add key="PadLeftCharCount" value="5" />
    <add key="AlphaValues" value="A,B,C,D,E,G,H,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z" />
    <add key="SessionTimeout" value="20"/>
    <add key="SessionTimeoutWarning" value="15"/>
    <add key="ErrorLogPath" value="C:\LTMSError"/>
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Default.aspx">
      <error statusCode="404" redirect="~/Default.aspx" />
      <error statusCode="500" redirect="~/Default.aspx" />
    </customErrors>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="300" maxRequestLength="2000000" targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILTMSService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:50305/LTMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILTMSService" contract="LTMSServiceRef.ILTMSService" name="BasicHttpBinding_ILTMSService"/>
    </client>
  </system.serviceModel>
</configuration>